sitemap-generator/public/schemas/saleor-ref.xsd

<?xml version="1.0"?>
<!-- change the target namespace for your app I think? Not sure -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://app-sitemap-generator.kremik.sk/schemas/saleor-ref.xsd">

  <xs:element name="ref">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="category-id" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
